body {
    background-color: #FFFFFF;
}
  
h1 {
    color: #000000;
    font-family: Arial;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #000000;
}

p {
    color: #000000;
}

a {
    color: #000000;
}
